section.section {
  padding: 3em 5em;
  color: #444;
  background-color: #eee;
}

section.section:nth-child(even) {
  background-color: #fff;
}

@media (max-width: 700px) {
  section.section {
    padding: 1.5em;
  }
}

.icon_row {
  margin: 10px 0;
}

.icon img {
  width: 30px;
  opacity: 0.5;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.icon img:hover {
  opacity: 0.8;
}

.title {
  margin: 10px 0 30px;
  font-size: 2em;
  text-decoration: underline;
  font-weight: 100;
}

.big_words {
  font-size: 3em;
  font-weight: 600;
  padding-right: 1em;
  position: relative;
}

@media (max-width: 700px) {
  .big_words {
    font-size: 1.5em;
    padding-right: 0;
    padding-bottom: 2em;
  }
}

img.profile {
  width: 100%;
}

.work_experience_card,
.education_card {
  padding: 2em 5em;
  border-left: 1px solid #aaa;
}

@media (max-width: 700px) {
  .work_experience_card,
  .education_card {
    padding: 2em;
    border-left: none;
  }
}

.work_experience_card .duration,
.work_experience_card .institute_name,
.education_card .duration,
.education_card .institute_name {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
}

.work_experience_card .duration:before,
.work_experience_card .institute_name:before,
.education_card .duration:before,
.education_card .institute_name:before {
  content: "";
  height: 20px;
  width: 20px;
  border: 2px solid #555;
  background-color: #ddd;
  border-radius: 50%;
  top: 18px;
  left: -93px;
  position: absolute;
}

@media (max-width: 700px) {
  .work_experience_card .duration,
  .work_experience_card .institute_name,
  .education_card .duration,
  .education_card .institute_name {
    font-size: 35px;
    margin-bottom: 5px;
  }
}

.work_experience_card .workplace,
.work_experience_card .course_duration,
.education_card .workplace,
.education_card .course_duration {
  font-size: 30px;
}

.work_experience_card .designation,
.work_experience_card .course_name,
.education_card .designation,
.education_card .course_name {
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}

.work_experience_card .work_summary,
.work_experience_card .education_summary,
.education_card .work_summary,
.education_card .education_summary {
  color: #666;
  width: 60%;
}

@media (max-width: 700px) {
  .work_experience_card .work_summary,
  .work_experience_card .education_summary,
  .education_card .work_summary,
  .education_card .education_summary {
    width: 100%;
  }
}
