html,
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
  background: #f0ff00;
  padding: 0 5px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: inline-block;
  cursor: none;
}
